<!-- partial:index.partial.html -->
<div id="login-form-wrap">
  <div class="brand">
    <a href="/home">
      <!-- <img src="assets/img/insurancy_logo.png" alt="insurancy-logo" border="0"> -->
    </a>
  </div>
  <h2>Login</h2>
  <form id="login-form">
    <p>
    <input type="text" id="username" name="username" placeholder="Username" required><i class="validation"><span></span><span></span></i>
    </p>
    <p>
    <input type="password" id="password" name="password" placeholder="Password Address" required><i class="validation"><span></span><span></span></i>
    </p>
    <p>
    <input type="button" id="login" value="Login" (click)="onSubmit()">
    </p>
  </form>
  <div id="create-account-wrap">
    <p>Not a member? <a href="/register">Create Account</a><p>
  </div>
  
    <p id="create-account-wrap">Forget your Password? <a href="/forgetpassword">Forget your Password?</a><p>
  <!--create-account-wrap-->
</div><!--login-form-wrap-->
<!-- partial -->
  

