<div class="container">
    <div class="sidebar">
      <h2>Admin Dashboard</h2>
      <div class="nav">
        <a (click)="showMyVehicles()" >Vehicles List</a>
        <a (click)="showMyDrivers()" >Driver List</a>
        <a (click)="showMyPolicies()" >Policies List</a>
        <a (click)="showMyProfiles()" >Profiles List</a>
        <a (click)="showMyAgentSettings()" >Agent Setting</a>
        <a href="#logout">Logout</a>
      
      </div>
    </div>
    <div class="content">
      <h1>Welcome, Admin!</h1>
      <div *ngIf="isBackupDatabaseVisible"  id="backup">
        <h2>Backup Database</h2>
        <p>Click the button below to create a backup of the database.</p>
        <button>Backup Database</button>
      </div>

      <!-------------------------------------------------------------------------------------------->

      <div *ngIf="isVehicleListVisible" id="vehicles">
        <app-vehicle-list></app-vehicle-list>
      </div>

      <div *ngIf="isDriverListVisible" id="vehicles">
        <app-driver-list></app-driver-list>
      </div>

      <div *ngIf="isPoliciesListVisible" id="vehicles">
        <app-policies></app-policies>
      </div>

      <div *ngIf="isProfilesListVisible" id="vehicles">
        <app-profiles></app-profiles>
      </div>
      <!-- ------------------------------------------------------------------------>
      <div *ngIf="isAgentSettingVisible">
      <app-agent-setting></app-agent-setting>
    </div>

    </div>
  </div>