<div class="col why-us-lead-form">
    <div class="lead-form">
        <form action="">
            <div class="input-field">
                <label for="password">Enter Password</label>
                <input type="password" id="password" placeholder="Enter Password" required>
            </div> 
            <div class="input-field">
                <label for="confirmpassword">Enter Password Again</label>
                <input type="confirmpassword" id="confirmpassword" placeholder="Enter Password Again" required>
            </div> 
            <p>
                <input type="button" id="changepasswordbtn" value="Change Password" (click)="onSubmit()">
            </p>
        </form>
    </div>
</div>