<div class="col why-us-lead-form">
    <div class="lead-form">
      <h1>Vehicle Data Verification</h1>
      <form>
        <div class="input-field">
          <label for="registration_number">Registration Number</label>
          <input type="text" name="registration_number" id="registration_number" placeholder="Registration Number" required>
        </div>
  
        <div class="input-field">
          <label for="model">Model</label>
          <input type="text" name="model" id="model" placeholder="Model" required>
        </div>
  
        <div class="input-field">
          <label for="color">Color</label>
          <input type="text" name="color" id="color" placeholder="Color" required>
        </div>
  
        <div class="input-field">
          <label for="year">Year</label>
          <input type="text" name="year" id="year" placeholder="Year" required>
        </div>
  
        <button mat-raised-button color="primary" (click)="onSubmit()">Next</button>
      </form>
    </div>
  </div>
  