<button id="topBtn">
    
</button>
<!-- Scroll to top ends -->

<!-- Navigation starts -->
<nav>
    <div class="menu-container nav-wrapper">
      <div class="brand">
        <a href="/home">
          <img src="assets/img/insurancy_logo.png" alt="insurancy-logo" border="0">
        </a>
      </div>
    
      <div class="hamberger">
        <span></span>
        <span></span>
        <span></span>
      </div>
    
      <ul class="nav-list">
        <li class="active"><a href="index.html">Home</a></li>
        <li><a href="/about">About</a></li>
        <li>
          <a href="/insurance">Insurance</a>
        </li>
        <li><a href="/news">News</a></li>
        <li><a href="/contact">Contacts</a></li>
        <li><a href="/login">Login</a></li>
      </ul>
    </div>
    </nav>
<!-- Navigation ends -->

<!-- --------------------------- News ---------------------------- -->
<section class="breadcrumbs">
    <div class="breadcrumb-container">
        <h2 class="hero-heading white">
            News
        </h2>
    </div>
  </section>
<section class="news">
  <div class="container">

      <div class="news-catalogue">
          <div class="news-card">
              <a href="news-view.html">
                  <img src="assets/img/news-1.png" alt="Post featured image" title="Post featured image" class="featured-image">
                  <h2 class="heading">How credit affects your Insurance</h2>
              </a>
              <p class="author">by <a href="https://atulcodex.com">atulcodex</a></p>
              <p class="para-line">
                  Introduction Readymade godard brooklyn, kogi shoreditch hashtag hella shaman kitsch man bun pinterest flexitarian. Offal occupy chambray, organic authentic copper mug vice echo park yr… <a href="news-view.html">Read More</a>
              </p>
          </div>
          <div class="news-card">
              <a href="news-view.html">
                  <img src="assets/img/news-2.png" alt="Post featured image" title="Post featured image" class="featured-image">
                  <h2 class="heading">Five insurance mistakes to avoid</h2>
              </a>
              <p class="author">by <a href="https://atulcodex.com">atulcodex</a></p>
              <p class="para-line">
                  Introduction Readymade godard brooklyn, kogi shoreditch hashtag hella shaman kitsch man bun pinterest flexitarian. Offal occupy chambray, organic authentic copper mug vice echo park yr… <a href="news-view.html">Read More</a>
              </p>
          </div>
          <div class="news-card">
              <a href="news-view.html">
                  <img src="assets/img/news-3.png" alt="Post featured image" title="Post featured image" class="featured-image">
                  <h2 class="heading">Top 5 Trends in the Insurance Industry</h2>
              </a>
              <p class="author">by <a href="https://atulcodex.com">atulcodex</a></p>
              <p class="para-line">
                  Introduction Readymade godard brooklyn, kogi shoreditch hashtag hella shaman kitsch man bun pinterest flexitarian. Offal occupy chambray, organic authentic copper mug vice echo park yr… <a href="news-view.html">Read More</a>
              </p>
          </div>
          <div class="news-card">
              <a href="news-view.html">
                  <img src="assets/img/car_insurance.jpg" alt="Post featured image" title="Post featured image" class="featured-image">
                  <h2 class="heading">How to choose the best Auto Insurance</h2>
              </a>
              <p class="author">by <a href="https://atulcodex.com">atulcodex</a></p>
              <p class="para-line">
                  Introduction Readymade godard brooklyn, kogi shoreditch hashtag hella shaman kitsch man bun pinterest flexitarian. Offal occupy chambray, organic authentic copper mug vice echo park yr… <a href="news-view.html">Read More</a>
              </p>
          </div>
      </div>
  </div>
</section>
<!-- --------------------------- News ---------------------------- -->



<!-- ---------------------------- Footer---------------------------- -->
<footer>
  <div class="footer-container">
      <p class="para-line white">Copyright © 2022</p>
  </div>
</footer>
<!-- ---------------------------- Footer---------------------------- -->



<!-------------- Importing JS file -------------->
<script src="js/script.js"></script>	

<!------------------------ Scroll to top button -------------------->
<script>
  $(document).ready(function(){
      $(window).scroll(function(){
      if($(this).scrollTop() > 40)
      {
          $('#topBtn').fadeIn();
      }
      else
      {
          $('#topBtn').fadeOut();
      }
      });

      $("#topBtn").click(function(){
          $('html, body').animate({scrollTop: 0},800);
      });             
  });
</script>