<nav>
    <div class="menu-container nav-wrapper">
      <div class="brand">
        <a href="/home">
          <img src="assets/img/insurancy_logo.png" alt="insurancy-logo" border="0">
        </a>
      </div>
  
      <div class="hamberger">
        <span></span>
        <span></span>
        <span></span>
      </div>
  
      <ul class="nav-list">
        <li class="active"><a href="index.html">Home</a></li>
        <li><a href="/about">About</a></li>
        <li>
          <a href="/insurance">Insurance</a>
        </li>
        <li><a href="/news">News</a></li>
        <li><a href="/contact">Contacts</a></li>
        <li><a href="/login">Login</a></li>
      </ul>
    </div>
  </nav>