<div class="col why-us-lead-form">
  <div class="lead-form">
    <H1>Agent Registeration Form</H1>
      <form>
          
          <div class="input-field">
              <label for="email">Email</label>
              <input type="email" id="email" placeholder="Enter Email" required>
          </div>
          <div class="input-field">
              <label for="phoneNumber">Phone Number</label>
              <input type="text" id="phoneNumber" placeholder="Enter Phone Number" required>
          </div>
          <div class="input-field">
              <label for="password">Password</label>
              <input type="password" id="password" placeholder="Enter Password" required>
          </div>
          <div class="input-field">
              <label for="commission">Commission</label>
              <input type="number" id="commission" placeholder="Enter Commission" required>
          </div>
          <div class="input-field">
              <label for="companyType">Company Type</label>
              <input type="text" id="companyType" placeholder="Enter Company Type" required>
          </div>
          <div class="input-field">
              <label for="companyName">Company Name</label>
              <input type="text" id="companyName" placeholder="Enter Company Name">
          </div>
          <p>
              <input type="button" id="registerAgentBtn" value="Register Agent">
          </p>
      </form>
  </div>
</div>
