@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* --------------------- CSS Global variables ------------*/
:root
{
	/*------------ Colors -------------*/
	--primary-color: #963cdd;     /*---- Purple ----*/
	--secondary-color: #1668b8;   /*---- Blue ------*/
	--third-color: #000000;       /*----- Black ------*/
	--fourth-color: #ffffff;      /*---- White ------*/
	--blue-color: #2540ce;    /*---- Button Blue -----*/
	--yellow-color: #fcb900;  /*---- Button Yello ----*/


	/*------------ Font Size --------------*/
	--heading-font-size: 1.5rem;
	--paragraph-font-size: 1rem;
}

*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html
{
	font-size: 16px;
}

body
{
	font-family: 'Poppins', sans-serif;
}

.container
{
	padding: 2rem;
}

.heading
{
	font-size: 2.2rem;
	font-weight: 600;
	line-height: 1.2;
	padding: 1rem 0;
}

.sub-heading
{
	color: var(--secondary-color);
	font-size: 1rem;
	font-weight: 500;
	text-transform: uppercase;
}

img
{
	max-width: 100%;
	height: auto;
}

h1, h2, h3, h4, h5, h6
{
	font-family: 'Poppins', sans-serif;
}

p
{
	font-family: 'Inter', sans-serif;
}

.white
{
	color: #ffffff;
}

.para-line
{
	font-size: 1rem;
	line-height: 1.5;
}

.btn
{
	padding: 0.8rem 2rem;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.btn a
{
	font-size: 1rem;
	font-weight: 500;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 1px;
}



/*------------------ Breadcrumb styling --------------------*/
.breadcrumbs
{
	background: linear-gradient(rgba(150, 60, 221, 0.1), rgba(17, 17, 69, 0.8));
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.breadcrumb-container
{
	height: 34vh;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 1.5rem;
}

.breadcrumb-container .hero-heading
{
	font-size: 3rem;
}

/*-------------------------- Form style -------------------------*/
body {
    background-color: rgba(150, 60, 221, 0.4);
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
    color: #2b3e51;
    margin: 8%;
    
  }
  
  h2 {
    font-weight: 300;
    text-align: center;
  }
  
  p {
    position: relative;
  }
  
  a,
  a:link,
  a:visited,
  a:active {
    color: #3ca9e2;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  a:focus, a:hover,
  a:link:focus,
  a:link:hover,
  a:visited:focus,
  a:visited:hover,
  a:active:focus,
  a:active:hover {
    color: #329dd5;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  
  #signup-form-wrap {
  
    background: linear-gradient(rgba(150, 60, 221, 0.4), rgba(22, 104, 184, 0.9));
    width: 65%;
    
    margin: 72px auto;
    margin-top:6%;
    text-align: center;
    padding: 20px 0 0 0;
    border-radius: 4px;
    box-shadow: 0px 30px 50px 0px rgba(0, 0, 0, 0.2);
  }
  
  #signup-form {
    padding: 0 60px;
  }
  
  input {
    color: #fff;
    display: block;
    box-sizing: border-box;
    width: 100%;
    outline: none;
    height: 60px;
    line-height: 60px;
    border-radius: 4px;
    background-color: #fff;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 0 0 0 10px;
    margin: 0;
    color: #fff;
    border: 1px solid #c2c0ca;
    font-style: normal;
    font-size: 16px;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    position: relative;
    display: inline-block;
    background: none;
  }
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="password"]:focus {
    border-color: #ffffff;
    color: #fff;
  }
  input[type="text"]:focus:invalid,
  input[type="email"]:focus:invalid,
  input[type="password"]:focus:invalid {
    color: #cc1e2b;
    border-color: #cc1e2b;
  }
  input[type="text"]:valid ~ .validation,
  input[type="email"]:valid ~ .validation,
  input[type="password"]:valid ~ .validation {
    display: block;
    border-color: #0C0;
  }
  input[type="text"]:valid ~ .validation span,
  input[type="email"]:valid ~ .validation span,
  input[type="password"]:valid ~ .validation span {
    background: #0C0;
    position: absolute;
    border-radius: 6px;
  }
  input[type="text"]:valid ~ .validation span:first-child,
  input[type="email"]:valid ~ .validation span:first-child,
  input[type="password"]:valid ~ .validation span:first-child {
    top: 30px;
    left: 14px;
    width: 20px;
    height: 3px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  input[type="text"]:valid ~ .validation span:last-child,
  input[type="email"]:valid ~ .validation span:last-child,
  input[type="password"]:valid ~ .validation span:last-child {
    top: 35px;
    left: 8px;
    width: 11px;
    height: 3px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  
  .validation {
    display: none;
    position: absolute;
    content: " ";
    height: 60px;
    width: 30px;
    right: 15px;
    top: 0px;
  }
  
  input[type="submit"] {
    border: none;
    display: block;
    background-color: #5193b7;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    font-size: 18px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-align: center;
  }
  input[type="submit"]:hover {
    background-color: #329dd5;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  
  #already-account-wrap {
    background-color: #eeedf1;
    color: #8a8b8e;
    font-size: 14px;
    width: 100%;
    padding: 10px 0;
    border-radius: 0 0 4px 4px;
  }