<nav>
    <div class="menu-container nav-wrapper">
      <div class="brand">
        <a href="/home">
          <img src="assets/img/insurancy_logo.png" alt="insurancy-logo" border="0">
        </a>
      </div>
    
      <div class="hamberger">
        <span></span>
        <span></span>
        <span></span>
      </div>
    
      <ul class="nav-list">
        <li class="active"><a href="index.html">Home</a></li>
        <li><a href="/about">About</a></li>
        <li>
          <a href="/insurance">Insurance</a>
        </li>
        <li><a href="/news">News</a></li>
        <li><a href="/contact">Contacts</a></li>
        <li><a href="/login">Login</a></li>
      </ul>
    </div>
    </nav>
<!-- Navigation ends -->
<section class="breadcrumbs">
    <div class="breadcrumb-container">
        <h2 class="hero-heading white">
            Be An Agent
        </h2>
    </div>
  </section>
  <div id="signup-form-wrap">
    <div class="brand">
      <a href="/home">
        <img src="assets/img/insurancy_logo.png" alt="insurancy-logo" border="0">
      </a>
    </div>
    <h2>Register</h2>
    <form id="signup-form">
      <p>
      <input type="text" id="username" name="username" placeholder="Username" required><i class="validation"><span></span><span></span></i>
      </p>
      <p>
      <input type="email" id="email" name="email" placeholder="Email Address" required><i class="validation"><span></span><span></span></i>
      </p>
      <p>
        <input type="text" id="phone" name="phone" placeholder="Phone Number" required><i class="validation"><span></span><span></span></i>
      </p>
      <p>
        <input type="password" id="password" name="password" placeholder="Password" required><i class="validation"><span></span><span></span></i> 
      </p>
      <p>
      <input type="submit" id="signup" value="Register">
      </p>
    </form>
    <div id="already-account-wrap">
      <p>Already have an Account? <a href="/login">Sign In</a><p>
    </div><!--create-account-wrap-->
  </div>