/*------------------ Breadcrumb styling --------------------*/
.breadcrumbs
{
	background: linear-gradient(rgba(150, 60, 221, 0.1), rgba(17, 17, 69, 0.8));
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
}

.breadcrumb-container
{
	height: 34vh;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 1.5rem;
}

.breadcrumb-container .hero-heading
{
	font-size: 3rem;
}
/*------------------ Breadcrumb styling --------------------*/


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* --------------------- CSS Global variables ------------*/
:root
{
	/*------------ Colors -------------*/
	--primary-color: #963cdd;     /*---- Purple ----*/
	--secondary-color: #1668b8;   /*---- Blue ------*/
	--third-color: #000000;       /*----- Black ------*/
	--fourth-color: #ffffff;      /*---- White ------*/
	--blue-color: #2540ce;    /*---- Button Blue -----*/
	--yellow-color: #fcb900;  /*---- Button Yello ----*/


	/*------------ Font Size --------------*/
	--heading-font-size: 1.5rem;
	--paragraph-font-size: 1rem;
}

*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html
{
	font-size: 16px;
}

body
{
	font-family: 'Poppins', sans-serif;
}

.container
{
	padding: 2rem;
}

.heading
{
	font-size: 2.2rem;
	font-weight: 600;
	line-height: 1.2;
	padding: 1rem 0;
}

.sub-heading
{
	color: var(--secondary-color);
	font-size: 1rem;
	font-weight: 500;
	text-transform: uppercase;
}

img
{
	max-width: 100%;
	height: auto;
}

h1, h2, h3, h4, h5, h6
{
	font-family: 'Poppins', sans-serif;
}

p
{
	font-family: 'Inter', sans-serif;
}

.white
{
	color: #ffffff;
}

.para-line
{
	font-size: 1rem;
	line-height: 1.5;
}

.btn
{
	padding: 0.8rem 2rem;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.btn a
{
	font-size: 1rem;
	font-weight: 500;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 1px;
}


/*------------------------ Map styling ----------------------------*/
.map-location
{
	margin: 1rem 0;
	display: flex;
	align-items: center;
}

.map-location ion-icon
{
	font-size: 2.6rem;
	color: var(--yellow-color);
}
/*------------------------ Map styling ----------------------------*/



/*------------------------------ Contact Info ---------------------------*/
.container {
	width: 80%; /* or any other desired width */
	margin: 0 auto;
  }
.contact-info
{
	background: linear-gradient(rgba(10, 17, 79, 0.9), rgba(10, 17, 79, 0.9));
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
}

.contact-info .container
{
	text-align: center;
	padding: 5rem 0;
}

.contact-info .container .row
{
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.contact-info .container .row .col ion-icon
{
	color: var(--yellow-color);
	font-size: 3.6rem;
}

.info-name
{
	font-size: 1.7rem;
	font-weight: 700;
}

.info-detail
{
	font-size: 1.1rem;
	font-weight: 400;
}
/*------------------------------ Contact Info ---------------------------*/




/*---------------------------------- Branches ---------------------------*/
.branch-img
{
	margin: 1rem 0;
}

.branch-card
{
	margin: 2rem 0;
	padding: 1.6rem;
	display: flex;
	flex-direction: column;
	grid-gap: 0.8rem;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
/*---------------------------------- Branches ---------------------------*/













/*-------------------------------------------------------------------------------------*/
/*----------------------------- Desktop screen styling ----------------------------------*/
/*-------------------------------------------------------------------------------------*/
@media screen and (min-width: 789px)
{
	/*----------- Breadcrumb styling ----------*/
	.breadcrumb-container 
	{
		height: 50vh;
	}


	/*------------ Map styling ----------------*/
	.map .container
	{
		max-width: 960px;
		text-align: center;
	}

	.map-location
	{
		justify-content: center;
	}


	/*-------------- Contact info ---------------*/
	/*.contact-info .container
	{
		padding: 8rem 0;
	}*/

	.contact-info .container .row
	{
		flex-direction: row;
	}

	.contact-info .container .row .col ion-icon 
	{
		color: var(--yellow-color);
		font-size: 5rem;
	}

	.info-name 
	{
		font-size: 2.6rem;
	}

	.info-detail 
	{
		font-size: 1.6rem;
	}


	/*-------------------------- Branches styling -----------------------*/
	.branch-card 
	{
		padding: 4rem;
	}
}