<app-header></app-header>
<div class="col why-us-lead-form">
    <div class="lead-form">
        <form action="">
            <div class="input-field">
                <label for="name">Full Name</label>
                <input type="text" id="name" placeholder="Your name" required>
            </div>
            <div class="input-field">
                <label for="number">Phone No.</label>
                <input type="text" id="number" placeholder="Your phone number" required>
            </div>
            <div class="input-field">
                <label for="email">Email Address</label>
                <input type="email" id="email" placeholder="Your email address" required>
            </div>
            <button class="btn btn-blue">
                <a href="#">Get A Quote</a>
            </button>
        </form>
    </div>
</div>