

/*----------- Scroll to top --------------*/
#topBtn
{
  position: fixed;
  bottom: 40px;
  right: 40px;
  font-size: 22px;
  width: 40px;
  height: 40px;
  background: var(--blue-color);
  color: white;
  border: none;
  cursor: pointer;
  display: none;
}

#topBtn ion-icon
{
	color: #fff;
}
/*----------- Scroll to top --------------*/

/*-------- Blue button ---------*/
.btn-blue
{
	transition: 0.3s ease-in-out;
	
}

.btn-blue:hover
{
	background: var(--yellow-color);
}

.btn-blue a
{
	
	color: var(--secondary-color);
}

.btn-blue:hover > a
{
	color: var(--third-color);
}

.btn-blue
{
	background: var(--blue-color);
	transition: 0.3s ease-in-out;
	
}

.btn-blue:hover
{
	background: var(--yellow-color);
}

.btn-blue a
{
	color: var(--fourth-color);
}

.btn-blue:hover > a
{
	color: var(--third-color);
}

/*---------- Yellow btn ----------*/
.btn-yellow
{
	background: var(--yellow-color);
	transition: 0.3s ease-in-out;
}

.btn-yellow:hover
{
	background: var(--blue-color);
}

.btn-yellow > a
{
	color: #000;
}

.btn-yellow:hover > a
{
	color: var(--fourth-color);
}

.btn-yellow
{
	background: var(--yellow-color);
	transition: 0.3s ease-in-out;
}

.btn-yellow:hover
{
	background: var(--blue-color);
}

.btn-yellow a
{
	color: var(--third-color);
}

.btn-yellow:hover > a
{
	color: var(--fourth-color);
}

/*------------ Full width button ------------*/
.btn-full-w
{
	padding: 2.2rem 2rem;
	display: block;
	width: 100%;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
	
}




/*----------------- Hero section styling ----------------*/
.hero
{
	background: linear-gradient(rgba(150, 60, 221, 0.4), rgba(22, 104, 184, 0.9));
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
}

.hero .hero-container
{	
	width: 100%;
	height: 90vh;
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
}

.hero-container .row > .col
{
	display: flex;
	flex-direction: column;
	gap: 1.4rem;
}

.hero-content
{
	padding: 0 2rem 3.6rem 2rem;
}

.hero-heading
{
	font-size: 2.3rem;
	line-height: 1.1;
}

.inner-row .inner-col
{
	margin: 1rem 0;
}
/*----------------- Hero section styling ----------------*/


/*----------------- Why Us section styling ---------------*/
.why-us
{
	background-image: linear-gradient(
	  155deg,
	  hsl(215deg 100% 98%) 0%,
	  hsl(215deg 100% 98%) 30%,
	  hsl(215deg 100% 98%) 38%,
	  hsl(215deg 100% 98%) 43%,
	  hsl(215deg 100% 98%) 47%,
	  hsl(215deg 100% 98%) 48%,
	  hsl(215deg 100% 98%) 50%,
	  hsl(215deg 100% 98%) 50%,
	  hsl(215deg 100% 99%) 50%,
	  hsl(215deg 100% 99%) 50%,
	  hsl(215deg 100% 99%) 50%,
	  hsl(215deg 100% 99%) 50%,
	  hsl(215deg 100% 99%) 50%,
	  hsl(215deg 100% 99%) 50%,
	  hsl(215deg 100% 99%) 50%,
	  hsl(215deg 100% 99%) 50%,
	  hsl(215deg 100% 99%) 51%,
	  hsl(215deg 100% 100%) 53%,
	  hsl(215deg 100% 100%) 55%,
	  hsl(215deg 100% 100%) 60%,
	  hsl(215deg 100% 100%) 68%,
	  hsl(0deg 0% 100%) 96%
	);
}

.why-us-col ion-icon
{
	font-size: 2rem;
	color: var(--fourth-color);
	background: var(--yellow-color);
	padding: 1rem;
	border: none;
	border-radius: 50px;
}

.why-us-highlight-heading
{
	font-size: 1.4rem;
	font-weight: 600;
}

.lead-form
{
	border: none;
	border-radius: 12px;
	margin: 2.5rem 0;
	padding: 3rem 1.6rem;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.input-field
{
	display: flex;
	flex-direction: column;
	margin: 1rem 0;
}

.input-field label
{
	font-size: 0.8rem;
	font-weight: 600;
	margin: 0.3rem 0;
	text-transform: uppercase;
}

.input-field input
{
	font-size: 1rem;
	border: none;
	border-radius: 5px;
	padding: 1rem;
	background: #f3f8ff;
}
/*----------------- Why Us section styling ---------------*/



/*----------------- Services section styling ---------------*/
.service-img
{
	border-radius: 5px;
	margin: 0 0 2rem 0;
}

.our-services .services
{
	margin: 2rem 0;
}

.services .service
{
	border: none;
	border-radius: 10px;
	margin: 1.5rem 0;
	padding: 1.8rem;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.services .service:hover
{
	box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.service ion-icon
{
	color: var(--yellow-color);
	font-size: 2.6rem;
}

.service .service-heading
{
	font-weight: 600;
}
/*----------------- Services section styling ---------------*/



/*----------------- Overline section styling ---------------*/
.overline
{
	background: linear-gradient(rgba(10, 17, 79, 0.9), rgba(10, 17, 79, 0.9));
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
}

.insurance-policies
{
	border-radius: 6px;
}

.overlines .row .col
{
	margin: 2.6rem 0;
}

.overlines .row .col ion-icon
{
	font-size: 2.6rem;
}

.overline-heading
{
	color: var(--yellow-color);
	font-size: 1.3rem;
	font-weight: 600;
}
/*----------------- Overline section styling ---------------*/


/*----------------- About us section styling ---------------*/
.about-highlights
{
	margin: 2rem 0;
}

.about-highlight-line
{
	display: flex;
	align-items: center;
	gap: 0.5rem;
	margin: 1rem 0;
}

.about-highlight-line ion-icon
{
	color: var(--yellow-color);
	font-size: 1.6rem;
}

.highlight-line-heading
{
	font-size: 1rem;
	font-weight: 600;
}

.about-img
{
	border-radius: 6px;
	margin-top: 4rem;
}

.partners
{
	margin: 2rem 0;
}
/*----------------- About us section styling ---------------*/



/*----------------- Testimonial section styling --------------*/
.testimonial
{
	background: linear-gradient(rgba(10, 17, 79, 0.9), rgba(10, 17, 79, 0.9));
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	color: #fff;

}

.testimonial-profile
{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	margin: 1rem;
	color: #fff;
}

.profile-img
{
	border-radius: 50px;
}

.client-name
{
	font-size: 1rem;
	font-weight: 600;
	text-align: left;
}

.client-location
{
	text-align: left;
}

.stars ion-icon
{
	color: var(--yellow-color);
}
/*----------------- Testimonial section styling --------------*/


/*----------------- Agent card styling -----------------------*/
.agent-card
{
	text-align: center;
}

.agent-img
{
	border-radius: 50%;
}

.agent-name
{
	font-size: 2rem;
	font-weight: 600;
}

.agent-number, .agent-email
{
	margin: 1rem 0;
	font-size: 0.9rem;
}
/*----------------- Agent card styling -----------------------*/







/*--------------------------------------------------------------*/
/*-------------------- Desktop Screen Styling ------------------*/
/*--------------------------------------------------------------*/
@media screen and (min-width: 789px)
{
	.container, .hero-container
	{
		max-width: 1180px;
		margin: 0 auto;
	}

	.container
	{
		padding: 4rem 0;
	}

	.heading
	{
		font-size: 3.2rem;
	}

	.para-line
	{
		line-height: 1.8;
	}

	.sub-heading
	{
		font-size: 1rem;
	}

	.row
	{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		gap: 2rem;
	}

	.row .col
	{
		width: 100%;
	}

	.inner-row
	{
		display: flex;
		gap: 2rem;
	}


	/*-------------- Hero section styling ------------------*/
	.hero-container .row > .hero-content
	{
		width: 140%;
	}

	.hero-heading
	{
		font-size: 4rem;
	}

	.hero
	{
		background: linear-gradient(rgba(150, 60, 221, 0.2), rgba(13, 14, 56, 0.9));
		background-position: center top;
		background-repeat: no-repeat;
		background-size: cover;
	}
	/*-------------- Hero section styling ------------------*/


	/*-------------- Why us styling ---------------------*/
	.why-us .container .row
	{
		gap: 5rem;
	}

	.why-us .container .row .why-us-content
	{
		width: 150%;
	}

	.why-us-content .inner-row
	{
		margin-top: 2rem;
	}

	.lead-form
	{
		background: var(--fourth-color);
		padding: 3rem !important;
	}

	.input-field
	{
		margin: 1.5rem 0;
	}
	/*-------------- Why us styling ---------------------*/


	/*-------------- Services section styling --------------*/
	.our-services
	{
		text-align: center;
	}

	.our-services .container .head-desc
	{
		max-width: 66%;
		margin: 0 auto;
	}

	.services, .partners-grid
	{
		display: grid;
		grid-template-rows: repeat(2, 1fr);
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 2rem;
	}
	/*-------------- Services section styling --------------*/



	/*-------------- About section styling ------------------*/
	.about .container .row
	{
		gap: 4rem;
	}

	.partners
	{
		margin-top: 4rem;
	}
	/*-------------- About section styling ------------------*/


	/*-------------- Testimonial section styling ---------------*/
	.testimonial .container .para-line
	{
		max-width: 840px;
		margin: 0 auto;
		font-size: 1.1rem;
	}

	.testimonial
	{
		padding: 4rem 0;
	}
	/*-------------- Testimonial section styling ---------------*/
}

button{
	background-color: #fff;
	border: #fff 2px solid;
}