<!DOCTYPE html>
<html>
<head>
  <title>Login Page</title>
</head>
<body>
  <div class="container">
    <h1 class="title">VIMS</h1>
    <form class="form">
        <input type="text" placeholder="First Name">
        <input type="text" placeholder="Last Name">
        <input type="text" placeholder="Date of Birth">
        <input type="text" placeholder="Phone Number">
        <input type="email" placeholder="Email">
        <input type="password" placeholder="Password">
        <input type="password" placeholder="Confirm Password">  
        <br>
      <input type="submit" value="Sign-Up">
    </form>
    <a routerLink="/login" class="register-link">Already have an account? Login</a>
  </div>
</body>
</html>
