<div id="signup-form-wrap">
  <div class="brand">
    <a href="/home">
      <img src="assets/img/insurancy_logo.png" alt="insurancy-logo" border="0">
    </a>
  </div>
  <h2>Register</h2>
  <form id="signup-form">
    <p>
      <input type="text" placeholder="Username" id="username" name="username" required>
      <i class="validation"><span></span><span></span></i>
    </p>
    <p>
      <input type="email" placeholder="Email Address" id="email" required>
      <i class="validation"><span></span><span></span></i>
    </p>
    <p>
      <input type="text" placeholder="Phone Number" id="phone" required>
      <i class="validation"><span></span><span></span></i>
    </p>
    <p>
      <input type="password" placeholder="Password" id="password" required>
      <i class="validation"><span></span><span></span></i>
    </p>
    <p>
      <input type="password" placeholder="Confirm Password" id="confirmPassword" required>
      <i class="validation"><span></span><span></span></i>
    </p>
    <p>
      <input type="button" id="signup" value="Register" (click)="onSubmit()">
    </p>
  </form>
  <div id="already-account-wrap">
    <p>Already have an Account? <a href="/login">Sign In</a></p>
  </div>
</div>
