<div id="signup-form-wrap">
  <div class="brand">
    <a href="/home">
      <img src="assets/img/insurancy_logo.png" alt="insurancy-logo" border="0">
    </a>
  </div>
  <h2>Register</h2>
  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <p>
      <input type="text" formControlName="username" placeholder="Username" required>
      <i class="validation"><span></span><span></span></i>
    </p>
    <p>
      <input type="email" formControlName="email" placeholder="Email Address" required>
      <i class="validation"><span></span><span></span></i>
    </p>
    <p>
      <input type="text" formControlName="phone" placeholder="Phone Number" required>
      <i class="validation"><span></span><span></span></i>
    </p>
    <p>
      <input type="password" formControlName="password" placeholder="Password" required>
      <i class="validation"><span></span><span></span></i>
    </p>
    <p>
      <input type="password" formControlName="confirmPassword" placeholder="Confirm Password" required>
      <i class="validation"><span></span><span></span></i>
    </p>
    <p>
      <input type="submit" id="signup" value="Register">
    </p>
  </form>
  <div id="already-account-wrap">
    <p>Already have an Account? <a href="/login">Sign In</a></p>
  </div>
</div>
